@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SoDoSans;
  src: url(/assets/SoDoSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SoDoSansSemi;
  src: url(/assets/SoDoSans-SemiBoldwoff.woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SoDoSansBold;
  src: url(/assets//SoDoSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.label-floating input(:placeholder-shown) ~ label {
  transition: all 0.2s ease-in-out;
}
.label-floating input:not(:placeholder-shown) ~ label {
  font-size: 0.7rem;
  transition: all 0.2s ease-in-out;
  color: #1f9d55;
  margin-top: -0.7rem;
  margin-left: 10px;
  background: white;
  display: block;
  padding: 2px 6px;
  width: fit-content;
}
